@font-face {
    font-family: "InterBold";
    src: url(Inter/static/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "InterBlack";
    src: url(Inter/static/Inter_18pt-Black.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(Inter/static/Inter_18pt-Regular.ttf);
}

body {
    background-color: #ebe5e5;
}

.painel {
    display: flex;
    background-color: white; 
    width: 370px;            
    height: 250px;
    position: absolute;           
    text-align: center; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.2);
} 

.painelEsquerdo{
    width: 110px;
    background-color: #AA410F;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
    text-align: center;
    padding: 15px;   
}

.botaoCriar{
    width: 80px;
    height: 25px;
    font-size: 9px;
    font-family: InterBold;
    background-color: #AA410F;
    color: white;
    border: none;
    border-radius: 30px;
}

.botaoEntrar{
    margin-top: 30px;
    margin-bottom: 5px;
    width: 50px;
    height: 20px;
    font-size: 9px;
    font-family: InterBold;
    background-color: #AA410F;
    color: white;
    border: 1.5px solid white;
    border-radius: 30px;
}

.bemvindo {
    font-family: InterBlack;
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    
}

.acesse {
    font-family: Inter;
    color: white;
    font-size: 8px;
    text-align: left;
    padding-left: 10px;
}

a {
    font-family: Inter;
    font-size: 6px;
    color: white;
    text-decoration: none;
}

img {
    width: 100px;
    height: 50px;
    margin-bottom: px;
}

.criar {
    font-family: InterBlack;
    color: #AA410F;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
}

.preencher {
    font-family: Inter;
    color: rgb(167, 165, 165);
    font-size: 8px;
    text-align: center;
    padding-left: 10px;
}

.email {
    font-family: Inter;
    width: 180px;
    height: 20px;
    font-size: 10px;
    color: rgb(167, 165, 165);
    background-color: rgb(236, 233, 233);
    border: none;
    padding: 7px;
    margin-top: 15px;
    margin-left: 10px;
}

.senha {
    font-family: Inter;
    width: 180px;
    height: 20px;
    font-size: 10px;
    color: rgb(167, 165, 165);
    background-color: rgb(236, 233, 233);
    border: none;
    padding: 7px;
    margin-left: 10px;
    margin-top: 9px;
    margin-bottom: 30px;
}