@font-face {
    font-family: "InterBold";
    src: url(Inter/static/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "InterBlack";
    src: url(Inter/static/Inter_18pt-Black.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(Inter/static/Inter_18pt-Regular.ttf);
}

body {
    background-color: #141313;
}

.painel {
    display: flex;
    background-color: #2a2a2a; 
    width: 370px;            
    height: 250px;
    position: absolute;           
    text-align: center; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.2);
} 

.painelEsquerdo{
    width: 110px;
    background-color: rgb(170, 65, 15);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
    text-align: center;
    padding: 15px;   
}

.botaoCriar{
    width: 80px;
    height: 25px;
    font-size: 9px;
    font-family: InterBold;
    background-color: #AA410F;
    color: white;
    border: none;
    border-radius: 30px;
}

.botaoEntrar{
    margin-top: 30px;
    margin-bottom: 5px;
    width: 50px;
    height: 20px;
    font-size: 9px;
    font-family: InterBold;
    background-color: #AA410F;
    color: white;
    border: 1.5px solid white;
    border-radius: 30px;
}

.bemvindo {
    font-family: InterBlack;
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    
}

.acesse {
    font-family: Inter;
    color: white;
    font-size: 8px;
    text-align: left;
    padding-left: 10px;
}

a {
    font-family: Inter;
    font-size: 6px;
    color: white;
    text-decoration: none;
}

img {
    width: 100px;
    height: 50px;
}

.criar {
    font-family: InterBlack;
    color: #AA410F;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
}

.preencher {
    font-family: Inter;
    color: rgb(167, 165, 165);
    font-size: 8px;
    text-align: center;
    padding-left: 10px;
}

.email {
    font-family: Inter;
    width: 180px;
    height: 20px;
    font-size: 10px;
    color: rgb(167, 165, 165);
    background-color: rgb(236, 233, 233);
    border: none;
    padding: 7px;
    margin-top: 15px;
    margin-left: 10px;
}

.senha {
    font-family: Inter;
    width: 180px;
    height: 20px;
    font-size: 10px;
    color: rgb(167, 165, 165);
    background-color: rgb(236, 233, 233);
    border: none;
    padding: 7px;
    margin-left: 10px;
    margin-top: 9px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px){
    .painel{
        width: 370px;            
    height: 250px;
    }

    .painelEsquerdo{
        width: 110px;
    }

    .botaoCriar{
        width: 80px;
        height: 25px;
        font-size: 9px;
    }

    .botaoEntrar{
        margin-top: 30px;
        margin-bottom: 5px;
        width: 50px;
        height: 20px;
    }

    .bemvindo {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .acesse {
        font-size: 8px;
        padding-left: 10px;
    }

    a {
        font-size: 6px;
    }

    img {
        width: 100px;
        height: 50px;
    }

    .criar {
        font-size: 14px;
        margin-top: 25px;
    }

    .preencher {
        font-size: 8px;
        padding-left: 10px;
    }

    .email {
        width: 180px;
        height: 20px;
        font-size: 10px;
        padding: 7px;
        margin-top: 15px;
        margin-left: 10px;
    }

    .senha {
        width: 180px;
        height: 20px;
        font-size: 10px;
        padding: 7px;
        margin-left: 10px;
        margin-top: 9px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .painel{
        width: 350px;            
    height: 230px;
    }

    .painelEsquerdo{
        width: 102px;
    }

    .botaoCriar{
        width: 65px;
        height: 20px;
        font-size: 8px;
    }

    .botaoEntrar{
        margin: 0px;
        width: 40px;
        height: 18px;
    }

    .bemvindo {
        font-size: 11px;
        margin-bottom: 15px;
    }

    .acesse {
        font-size: 6px;
        padding-left: 8px;
    }

    a {
        font-size: 5px;
    }

    img {
        width: 85px;
        height: 40px;
    }

    .criar {
        font-size: 11px;
        margin-top: 20px;
    }

    .preencher {
        font-size: 7px;
        padding-left: 8px;
    }

    .email {
        width: 130px;
        height: 17px;
        font-size: 8px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 8px;
    }

    .senha {
        width: 130px;
        height: 17px;
        font-size: 8px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 8px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 480px) {
    .painel{
        width: 240px;            
    height: 180px;
    }
    
    .painelEsquerdo{
        width: 70px;
        padding: 0px;
    }

    .botaoCriar{
        width: 60px;
        height: 18px;
        font-size: 6px;
    }

    .botaoEntrar{
        margin: 0px;
        width: 30px;
        height: 15px;
        font-size: 5px;
    }

    .bemvindo {
        font-size: 8px;
        margin-bottom: 10px;
    }

    .acesse {
        font-size: 5px;
        padding-left: 6px;
    }

    a {
        font-size: 4px;
    }

    img {
        width: 60px;
        height: 35px;
    }

    .criar {
        font-size: 8px;
        margin-top: 18px;
    }

    .preencher {
        font-size: 6px;
        padding-left: 7px;
    }

    .email {
        width: 100px;
        height: 12px;
        font-size: 6px;
        padding: 4px;
        margin-top: 8px;
        margin-left: 7px;
    }

    .senha {
        width: 100px;
        height: 12px;
        font-size: 6px;
        padding: 4px;
        margin-top: 8px;
        margin-left: 7px;
        margin-bottom: 20px;
    }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
    
}