.footer {
    background-color: #211E1E;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.pagar-com {
    text-align: left;
}


.imagens-pagamento img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.direitos-reservados {
    text-align: left;
}

.footer-privacy {
    text-align: left;
}

.footer-privacy a {
    margin-top: 10px;
    
}


.footer-privacy a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    
}

.footer-privacy a:hover {
    color: #AA410F; 
}