@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter/static/Inter_28pt-Medium.ttf);
    src: url(fonts/Inter/static/Inter_18pt-ExtraLight.ttf);
    src: url(fonts/Inter/static/Inter_18pt-Light.ttf);
    src: url(fonts/Inter/static/Inter_18pt-Thin.ttf);
    src: url(fonts/Inter/static/Inter_18pt-Regular.ttf);
    src: url(fonts/Inter/static/Inter_18pt-Medium.ttf);
}

body {
    background-color: #141313;
}

.titulo-principal {
    height: 145px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 30px;
    position: relative;
}

.imagens-container {
    display: flex;
    justify-content: center; 
    gap: 70px; 
    padding: 20px 0; 
    margin-top: 10px;
    margin-bottom: 40px;
}

.imagens-container a {
    text-decoration: none;
}

.imagens-container img {
    transition: 0.3s ease;
    border: 2px solid transparent;
}

.imagens-container img:hover {
    border-radius: 50%;
    border: 2px solid white;
    transform: scale(1.3);
}

.imagens-container p {
    margin-top: 10px; 
    font-size: 14px; 
    color: white; 
    font-family: 'Inter'; 
}

.botao-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-button {
    background-color: #AA410F; 
    color: white; 
    width: 200px;
    height: 55px;
    font-size: 16px; 
    margin-bottom: 40px;
    font-weight: 100;
    font-family: 'Inter';
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;  
}

.explore-button:hover {
    background-color: #d24e00; 
    transform: scale(1.1); 
}

.imagem-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 400px;
    width: 100%;
}

.explore-imagem {
    max-width: 70%;
    height: auto;
    border-radius: 6px;
}

.destaques-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.destaques {
    background-color: #b44714;
    color: white;
    padding: 17px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Inter';
    width: 200px;
    height: 55px;
    text-align: center;
}

.imagem-galeria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 60px; 
    margin-top: 70px; 
    margin-bottom: 50px;
}

.gallery-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}