* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#141313;
    height: 100vh; /* Define a altura total da janela */
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
}
.arrumadin-name {
    color: #AA410F;
    font-weight: bold;
}
.arrumadin-missão{
    color: #AA410F;
    font-weight: bold;
    text-align: left;
}
.content {
    flex: 1; /* Isso faz com que o conteúdo principal ocupe o espaço restante */
    padding: 20px;
    background-color: #2a2a2a;
} 
 .QuemSomos p {
    color: white;
    text-align: center;
    line-height: 1.6;
    font-size: 17px;
  }
.QuemSomos h1 {
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
  }
  .QuemSomos h2{
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
  }
  .QuemSomos h3{
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
  }
  .QuemSomos h4{
    color: white;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
  }
 